/* General */
* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


/* Main Structure */
.main-wrapper {
  height: 100vh;
  background: linear-gradient(0deg, rgb(223, 223, 223) 84%, rgba(0,150,136,1) 84%);
}

.gp-container {
  width: 80%;
  height: 94%;
}