/* General */
* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.user-icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  background-color: white;
}

.user-name {
  font-size: 1.08rem;
  font-weight: bold;
  color : rgb(100, 100, 100);
}

.header-btns {
  font-size: 1.5rem;
  color: rgb(173, 173, 173);
}

.header-btn:hover {
  cursor: pointer;
}


/* Main Structure */
.main-wrapper {
  height: 100vh;
  background: linear-gradient(0deg, rgb(223, 223, 223) 84%, rgba(0,150,136,1) 84%);
}

.gp-container {
  width: 80%;
  height: 94%;
}

/* Contacts Column */
.contacts-col {
  width: 35%;
  min-width: 360px;
  height: 100%;
  border-right: 2px solid rgb(233, 233, 233);
}

.contacts-header {
  background-color: rgb(240, 240, 240);
}

/* Chat Column */